infra/n8n/workflows/image_generation_worker.json
{
  "name": "image_generation_worker",
  "nodes": [
    {
      "parameters": {},
      "id": "image-subworkflow-trigger",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -720,
        200
      ]
    },
    {
      "parameters": {
        "url": "={{ (() => { const siteSlug = ($json.siteSlug || $env.SITE_SLUG || ''); const filters = ['_type==\\\"article\\\"', 'siteSlug==\\\"' + siteSlug + '\\\"', 'status==\\\"draft\\\"', '!defined(coverImage)']; const query = '*[' + filters.join(' && ') + ']|order(_createdAt asc)[0...1]'; return 'https://' + $('Resolve Site Context').item.json.sanity.projectId + '.api.sanity.io/v' + ($('Resolve Site Context').item.json.sanity.apiVersion || '2025-01-01') + '/data/query/' + ($('Resolve Site Context').item.json.sanity.dataset || 'production') + '?query=' + encodeURIComponent(query); })() }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$('Resolve Site Context').item.json.sanity.readToken}}"
            }
          ]
        },
        "options": {}
      },
      "id": "5c53c816-1598-4f9d-b33b-c5028d489723",
      "name": "Fetch drafts missing image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3488,
        -480
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = (items[0] && items[0].json) ? items[0].json : {};\nconst docs = Array.isArray(source.result) ? source.result : [];\n\nreturn docs\n  .filter((doc) => doc && typeof doc === 'object')\n  .map((doc) => ({ json: doc }));",
        "language": "javaScript",
        "mode": "runOnceForAllItems"
      },
      "id": "29082223-d64f-4c8c-a4c6-a714d951371f",
      "name": "Explode Articles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3728,
        -480
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const title = String($json.title || '').replace(/\\s+/g, ' ').trim().slice(0, 180);\nconst excerpt = String($json.excerpt || '').replace(/\\s+/g, ' ').trim().slice(0, 260);\nconst keyword = String($json.aiMeta?.targetKeyword || $json.aiMeta?.sourceTopicQuery || '').replace(/\\s+/g, ' ').trim().slice(0, 140);\nconst subject = keyword || title || 'editorial feature';\nconst imageModel = String($env.IMAGE_MODEL || 'black-forest-labs/flux-schnell').trim();\nconst requestedAspectRatio = String($env.IMAGE_ASPECT_RATIO || '16:9').trim() || '16:9';\nconst supportedGptImageAspectRatios = new Set(['1:1', '3:2', '2:3']);\nconst isGptImage = imageModel.startsWith('openai/gpt-image-1.5');\nconst effectiveAspectRatio = isGptImage && !supportedGptImageAspectRatios.has(requestedAspectRatio)\n  ? '3:2'\n  : requestedAspectRatio;\n\nconst prompt = [\n  'Photorealistic editorial hero image for a professional digital magazine article.',\n  'Use a scene, subject, or setting that is specifically grounded in the article title and context.',\n  'Primary subject: ' + subject + '.',\n  title ? ('Article title: ' + title + '.') : '',\n  excerpt ? ('Article context: ' + excerpt + '.') : '',\n  'Choose a single coherent visual concept with realistic details, natural lighting, and strong magazine composition.',\n  'Avoid generic office scenes unless the article itself clearly calls for them.',\n  'No text overlay, no logos, no brand names, no watermark.',\n  'Aspect ratio ' + effectiveAspectRatio + '.'\n].filter(Boolean).join(' ');\n\nreturn { json: { ...$json, imagePrompt: prompt, imageAspectRatio: effectiveAspectRatio } };",
        "language": "javaScript"
      },
      "id": "839d424b-fda2-46dc-9274-8bf325a4ba92",
      "name": "Build Safe Image Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3968,
        -480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.replicate.com/v1/models/' + ($env.IMAGE_MODEL || 'black-forest-labs/flux-schnell') + '/predictions' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Token {{$env.REPLICATE_API_TOKEN}}"
            },
            {
              "name": "Prefer",
              "value": "wait=60"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  input: {\n    prompt: $json.imagePrompt,\n    aspect_ratio: $json.imageAspectRatio || String($env.IMAGE_ASPECT_RATIO || '16:9').trim() || '16:9'\n  }\n}) }}",
        "options": {}
      },
      "id": "ddedffe1-bd63-4c12-bdf8-423c1ce10780",
      "name": "Generate Image (Replicate)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        4208,
        -480
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const nf = (typeof fetch === 'function') ? null : require('node-fetch');\nconst fetchFn = (typeof fetch === 'function') ? fetch : (nf.default || nf);\nconst { Buffer } = require('buffer');\n\nfunction slugify(input) {\n  return String(input || '')\n    .toLowerCase()\n    .trim()\n    .replace(/[\"']/g, '')\n    .replace(/[^a-z0-9]+/g, '-')\n    .replace(/^-+|-+$/g, '')\n    .slice(0, 120);\n}\n\nfunction sleep(ms) {\n  return new Promise((resolve) => setTimeout(resolve, ms));\n}\n\nfunction predictionHasOutput(prediction) {\n  return Array.isArray(prediction.output) ? prediction.output.length > 0 : Boolean(prediction.output);\n}\n\nasync function fetchPrediction(url, replicateToken) {\n  const response = await fetchFn(url, {\n    headers: {\n      Authorization: 'Token ' + replicateToken,\n    },\n  });\n\n  if (!response.ok) {\n    const text = await response.text();\n    throw new Error('Failed to poll Replicate prediction (' + response.status + '): ' + text);\n  }\n\n  return response.json();\n}\n\nasync function waitForPrediction(initialPrediction, replicateToken) {\n  const maxPollAttempts = 12;\n  const pollIntervalMs = 5000;\n  let prediction = initialPrediction || {};\n\n  for (let attempt = 0; attempt <= maxPollAttempts; attempt += 1) {\n    if (predictionHasOutput(prediction)) return prediction;\n\n    const status = String(prediction.status || 'unknown').toLowerCase();\n    if (status === 'failed' || status === 'canceled') {\n      throw new Error('Replicate prediction failed: ' + (prediction.error || prediction.status));\n    }\n\n    const pollUrl = String(prediction?.urls?.get || '').trim();\n    if (!pollUrl) {\n      break;\n    }\n\n    if (attempt === maxPollAttempts) {\n      break;\n    }\n\n    await sleep(pollIntervalMs);\n    prediction = await fetchPrediction(pollUrl, replicateToken);\n  }\n\n  throw new Error('Replicate prediction did not complete in time (status: ' + (prediction.status || 'unknown') + ').');\n}\n\nconst article = $('Build Safe Image Prompt').item.json;\nconst replicateToken = String($env.REPLICATE_API_TOKEN || '').trim();\nif (!replicateToken) {\n  throw new Error('Missing REPLICATE_API_TOKEN env var');\n}\n\nconst prediction = await waitForPrediction($json, replicateToken);\nconst outputUrl = Array.isArray(prediction.output) ? prediction.output[0] : prediction.output;\nif (!outputUrl) {\n  throw new Error('No image output URL from Replicate. Status: ' + prediction.status);\n}\n\nconst imageRes = await fetchFn(outputUrl);\nif (!imageRes.ok) {\n  throw new Error('Failed to download generated image (' + imageRes.status + ')');\n}\nconst imageBuffer = Buffer.from(await imageRes.arrayBuffer());\nconst contentType = imageRes.headers.get('content-type') || 'image/jpeg';\n\nconst apiVersion = $('Resolve Site Context').item.json.sanity.apiVersion || '2025-01-01';\nconst projectId = $('Resolve Site Context').item.json.sanity.projectId;\nconst dataset = $('Resolve Site Context').item.json.sanity.dataset || 'production';\nconst writeToken = $('Resolve Site Context').item.json.sanity.writeToken;\nconst imageModel = $env.IMAGE_MODEL || 'black-forest-labs/flux-schnell';\n\nif (!projectId || !writeToken) {\n  throw new Error('Missing Sanity env vars (SANITY_PROJECT_ID / SANITY_WRITE_TOKEN)');\n}\n\nconst filename = slugify((article.slug && article.slug.current) || article.slug || article.title || 'article-hero') + '-hero.jpg';\nconst uploadUrl = 'https://' + projectId + '.api.sanity.io/v' + apiVersion + '/assets/images/' + dataset + '?filename=' + encodeURIComponent(filename);\n\nconst uploadRes = await fetchFn(uploadUrl, {\n  method: 'POST',\n  headers: {\n    Authorization: 'Bearer ' + writeToken,\n    'Content-Type': contentType,\n  },\n  body: imageBuffer,\n});\n\nif (!uploadRes.ok) {\n  const text = await uploadRes.text();\n  throw new Error('Sanity asset upload failed (' + uploadRes.status + '): ' + text);\n}\n\nconst uploadJson = await uploadRes.json();\nconst assetId = uploadJson && uploadJson.document && uploadJson.document._id;\nconst assetUrl = uploadJson && uploadJson.document && uploadJson.document.url;\n\nif (!assetId) {\n  throw new Error('Sanity asset upload succeeded but asset id missing');\n}\n\nconst altText = 'Editorial hero image for ' + article.title;\nconst mutateUrl = 'https://' + projectId + '.api.sanity.io/v' + apiVersion + '/data/mutate/' + dataset;\n\nconst patchBody = {\n  mutations: [\n    {\n      patch: {\n        id: article._id,\n        set: {\n          coverImage: {\n            _type: 'image',\n            asset: { _type: 'reference', _ref: assetId },\n            aiPrompt: String(article.imagePrompt || '').slice(0, 400),\n            modelVersion: imageModel,\n          },\n          coverImageAlt: altText,\n        },\n      },\n    },\n  ],\n};\n\nconst patchRes = await fetchFn(mutateUrl, {\n  method: 'POST',\n  headers: {\n    Authorization: 'Bearer ' + writeToken,\n    'Content-Type': 'application/json',\n  },\n  body: JSON.stringify(patchBody),\n});\n\nif (!patchRes.ok) {\n  const text = await patchRes.text();\n  throw new Error('Sanity article patch failed (' + patchRes.status + '): ' + text);\n}\n\nconst patchJson = await patchRes.json();\n\nreturn {\n  json: {\n    ...article,\n    replicatePredictionId: prediction.id,\n    imageOutputUrl: outputUrl,\n    sanityAssetId: assetId,\n    sanityAssetUrl: assetUrl,\n    patchResult: patchJson,\n    imageModel,\n  }\n};",
        "language": "javaScript"
      },
      "id": "b2f01803-26bd-42a0-a4d0-c86e8ead59de",
      "name": "Upload to Sanity + Patch article",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4448,
        -480
      ]
    },
    {
      "id": "resolve_site_context",
      "name": "Resolve Site Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3248,
        -480
      ],
      "parameters": {
        "jsCode": "const incoming = (typeof $json === 'object' && $json) ? $json : {};\nconst body = incoming.body && typeof incoming.body === 'object' ? incoming.body : {};\nconst payload = incoming.payload && typeof incoming.payload === 'object' ? incoming.payload : {};\nconst siteSlug = String(\n  incoming.siteSlug ||\n  incoming.site_slug ||\n  body.siteSlug ||\n  payload.siteSlug ||\n  $env.SITE_SLUG ||\n  ''\n).trim().toLowerCase();\nif (!siteSlug) {\n  throw new Error('Missing siteSlug for Resolve Site Context');\n}\n\nconst baseUrl = String($env.CONTENT_ENGINE_URL || '').replace(/\\/$/, '');\nif (!baseUrl) {\n  throw new Error('Missing CONTENT_ENGINE_URL env var');\n}\n\nconst internalToken = String($env.INTERNAL_API_TOKEN || '').trim();\nif (!internalToken) {\n  throw new Error('Missing INTERNAL_API_TOKEN env var');\n}\n\nconst nf = (typeof fetch === 'function') ? null : require('node-fetch');\nconst fetchFn = (typeof fetch === 'function') ? fetch : (nf.default || nf);\nconst url = baseUrl + '/api/internal/sites/' + encodeURIComponent(siteSlug) + '/sanity-connection';\n\nconst response = await fetchFn(url, {\n  method: 'GET',\n  headers: {\n    'x-internal-token': internalToken,\n  },\n});\n\nconst raw = await response.text();\nlet parsed = {};\ntry {\n  parsed = raw ? JSON.parse(raw) : {};\n} catch (error) {\n  throw new Error('Invalid sanity-connection response for ' + siteSlug + ': ' + raw.slice(0, 220));\n}\n\nif (!response.ok || !parsed.ok || !parsed.sanity) {\n  throw new Error('Cannot resolve site Sanity connection for ' + siteSlug + ': ' + (parsed.error || raw || response.status));\n}\n\nconst sanity = parsed.sanity || {};\nif (!sanity.projectId || !sanity.readToken || !sanity.writeToken) {\n  throw new Error('Incomplete site Sanity connection for ' + siteSlug);\n}\n\nreturn {\n  json: {\n    ...incoming,\n    siteSlug: parsed.siteSlug || siteSlug,\n    sanity,\n  }\n};"
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Fetch drafts missing image": {
      "main": [
        [
          {
            "node": "Explode Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Explode Articles": {
      "main": [
        [
          {
            "node": "Build Safe Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Safe Image Prompt": {
      "main": [
        [
          {
            "node": "Generate Image (Replicate)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image (Replicate)": {
      "main": [
        [
          {
            "node": "Upload to Sanity + Patch article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Resolve Site Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Site Context": {
      "main": [
        [
          {
            "node": "Fetch drafts missing image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9217982f-a300-4413-ad5b-71cd88617649",
  "meta": {
    "instanceId": "cebe4ce12c17c9f22f40139f61ea1316109f5a06e53544a97428cf8c1031b675"
  },
  "id": "DJO82hLkI6S6wg0v",
  "tags": []
}
