infra/n8n/workflows/internal_link_refresh.json
{
  "name": "internal_link_refresh",
  "active": false,
  "nodes": [
    {
      "id": "schedule",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        220,
        220
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      }
    },
    {
      "id": "fetchPublished",
      "name": "Fetch Published Articles",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        470,
        220
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://{{$('Resolve Site Context').item.json.sanity.projectId}}.api.sanity.io/v{{$('Resolve Site Context').item.json.sanity.apiVersion || '2025-01-01'}}/data/query/{{$('Resolve Site Context').item.json.sanity.dataset || 'production'}}?query=*[_type==\"article\" && status==\"published\"]{_id,title,category,slug,publishedAt}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$('Resolve Site Context').item.json.sanity.readToken}}"
            }
          ]
        }
      }
    },
    {
      "id": "computeLinks",
      "name": "Compute Internal Link Suggestions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        730,
        220
      ],
      "parameters": {
        "language": "JavaScript",
        "jsCode": "const docs = $json.result || []; const byCat = new Map(); for (const d of docs) { const key = d.category?._ref || d.category || 'uncat'; if (!byCat.has(key)) byCat.set(key, []); byCat.get(key).push(d); } const out = []; for (const [, list] of byCat.entries()) { for (const item of list) { const links = list.filter(x => x._id !== item._id).slice(0,4).map(x => ({ title: x.title, slug: x.slug?.current || x.slug })); out.push({ json: { articleId: item._id, internalLinks: links } }); } } return out;"
      }
    },
    {
      "id": "patchLinks",
      "name": "Patch internalLinks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1000,
        220
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://{{$('Resolve Site Context').item.json.sanity.projectId}}.api.sanity.io/v{{$('Resolve Site Context').item.json.sanity.apiVersion || '2025-01-01'}}/data/mutate/{{$('Resolve Site Context').item.json.sanity.dataset || 'production'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$('Resolve Site Context').item.json.sanity.writeToken}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"mutations\": [{\"patch\": {\"id\": $json.articleId, \"set\": {\"internalLinks\": $json.internalLinks}}}]}"
      }
    },
    {
      "id": "resolve_site_context",
      "name": "Resolve Site Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        230,
        220
      ],
      "parameters": {
        "jsCode": "const incoming = (typeof $json === 'object' && $json) ? $json : {};\nconst body = incoming.body && typeof incoming.body === 'object' ? incoming.body : {};\nconst payload = incoming.payload && typeof incoming.payload === 'object' ? incoming.payload : {};\nconst siteSlug = String(\n  incoming.siteSlug ||\n  incoming.site_slug ||\n  body.siteSlug ||\n  payload.siteSlug ||\n  $env.SITE_SLUG ||\n  ''\n).trim().toLowerCase();\nif (!siteSlug) {\n  throw new Error('Missing siteSlug for Resolve Site Context');\n}\n\nconst baseUrl = String($env.CONTENT_ENGINE_URL || '').replace(/\\/$/, '');\nif (!baseUrl) {\n  throw new Error('Missing CONTENT_ENGINE_URL env var');\n}\n\nconst internalToken = String($env.INTERNAL_API_TOKEN || '').trim();\nif (!internalToken) {\n  throw new Error('Missing INTERNAL_API_TOKEN env var');\n}\n\nconst nf = (typeof fetch === 'function') ? null : require('node-fetch');\nconst fetchFn = (typeof fetch === 'function') ? fetch : (nf.default || nf);\nconst url = baseUrl + '/api/internal/sites/' + encodeURIComponent(siteSlug) + '/sanity-connection';\n\nconst response = await fetchFn(url, {\n  method: 'GET',\n  headers: {\n    'x-internal-token': internalToken,\n  },\n});\n\nconst raw = await response.text();\nlet parsed = {};\ntry {\n  parsed = raw ? JSON.parse(raw) : {};\n} catch (error) {\n  throw new Error('Invalid sanity-connection response for ' + siteSlug + ': ' + raw.slice(0, 220));\n}\n\nif (!response.ok || !parsed.ok || !parsed.sanity) {\n  throw new Error('Cannot resolve site Sanity connection for ' + siteSlug + ': ' + (parsed.error || raw || response.status));\n}\n\nconst sanity = parsed.sanity || {};\nif (!sanity.projectId || !sanity.readToken || !sanity.writeToken) {\n  throw new Error('Incomplete site Sanity connection for ' + siteSlug);\n}\n\nreturn {\n  json: {\n    ...incoming,\n    siteSlug: parsed.siteSlug || siteSlug,\n    sanity,\n  }\n};"
      }
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Resolve Site Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Published Articles": {
      "main": [
        [
          {
            "node": "Compute Internal Link Suggestions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Internal Link Suggestions": {
      "main": [
        [
          {
            "node": "Patch internalLinks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Site Context": {
      "main": [
        [
          {
            "node": "Fetch Published Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "template": true,
    "pipelineStage": "internal_links"
  }
}
