infra/n8n/workflows/plan_generation_scheduler_worker.json
{
  "name": "plan_generation_scheduler_worker",
  "active": false,
  "nodes": [
    {
      "id": "schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        220,
        180
      ],
      "parameters": {
        "rule": {
          "interval": [
              {
                "field": "minutes",
                "minutesInterval": 15
              }
            ]
          }
      }
    },
    {
      "id": "webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        340
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "plan-automation",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "scheduledPayload",
      "name": "Build scheduled payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        470,
        180
      ],
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "const tickMinutes = Math.max(1, Number($env.PLAN_SCHEDULER_TICK_MINUTES || 60));\nconst now = new Date();\nconst minuteBucket = Math.floor(now.getTime() / 60000);\nconst tickDue = minuteBucket % tickMinutes === 0;\n\nconst baseUrl = String($env.CONTENT_ENGINE_URL || '').replace(/\\/$/, '');\nif (!baseUrl) {\n  throw new Error('Missing CONTENT_ENGINE_URL env var');\n}\n\nconst internalToken = String($env.INTERNAL_API_TOKEN || '').trim();\nif (!internalToken) {\n  throw new Error('Missing INTERNAL_API_TOKEN env var');\n}\n\nconst nf = (typeof fetch === 'function') ? null : require('node-fetch');\nconst fetchFn = (typeof fetch === 'function') ? fetch : (nf.default || nf);\nconst url = baseUrl + '/api/internal/sites/automation-targets';\n\nconst response = await fetchFn(url, {\n  method: 'GET',\n  headers: {\n    'x-internal-token': internalToken,\n  },\n});\n\nconst raw = await response.text();\nlet parsed = {};\ntry {\n  parsed = raw ? JSON.parse(raw) : {};\n} catch (error) {\n  throw new Error('Invalid automation-targets response: ' + raw.slice(0, 220));\n}\n\nif (!response.ok || !parsed.ok || !Array.isArray(parsed.targets)) {\n  throw new Error('Cannot resolve automation targets: ' + (parsed.error || raw || response.status));\n}\n\nconst schedulerRunBase = 'plan-scheduler-' + now.toISOString().replace(/[:.]/g, '-');\nconst siteSlugs = parsed.targets\n  .map((value) => String(value || '').toLowerCase().trim())\n  .filter((value) => value.length > 0);\n\nif (!siteSlugs.length) {\n  return [];\n}\n\nreturn siteSlugs.map((siteSlug) => ({\n  json: {\n    siteSlug,\n    triggerType: 'schedule',\n    reason: tickDue ? 'scheduled_tick' : 'scheduled_tick_skipped',\n    force: false,\n    tickDue,\n    skipTick: !tickDue,\n    tickMinutes,\n    runsThisTick: 0,\n    noWorkNeeded: !tickDue,\n    note: tickDue ? '' : 'Tick skipped by PLAN_SCHEDULER_TICK_MINUTES gate',\n    schedulerRunId: schedulerRunBase + '-' + siteSlug,\n  }\n}));"
      }
    },
    {
      "id": "webhookPayload",
      "name": "Build webhook payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        470,
        340
      ],
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForEachItem",
        "jsCode": "const root = (typeof $json === 'object' && $json) ? $json : {};\nconst body = (root.body && typeof root.body === 'object') ? root.body : root;\nconst headers = (root.headers && typeof root.headers === 'object') ? root.headers : {};\nconst expectedInternalToken = String($env.INTERNAL_API_TOKEN || '').trim();\nconst providedInternalToken = String(headers['x-internal-token'] || headers['X-Internal-Token'] || '').trim();\nif (!expectedInternalToken) {\n  throw new Error('INTERNAL_API_TOKEN is required for plan-automation webhook');\n}\nif (providedInternalToken !== expectedInternalToken) {\n  throw new Error('Unauthorized plan-automation webhook call');\n}\n\nconst siteSlug = String(body.siteSlug || root.siteSlug || '').toLowerCase().trim();\nif (!siteSlug) throw new Error('Missing siteSlug in plan scheduler webhook payload');\nconst reason = String(body.reason || 'manual_trigger');\nconst now = new Date();\n\nreturn {\n  json: {\n    siteSlug,\n    triggerType: 'webhook',\n    reason,\n    force: true,\n    tickDue: true,\n    skipTick: false,\n    tickMinutes: Math.max(1, Number($env.PLAN_SCHEDULER_TICK_MINUTES || 60)),\n    schedulerRunId: `plan-scheduler-${now.toISOString().replace(/[:.]/g, '-')}`\n  }\n};"
      }
    },
    {
      "id": "fetchEntitlement",
      "name": "Fetch entitlement snapshot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        740,
        260
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.CONTENT_ENGINE_URL.replace(/\\/$/, '') + '/api/internal/sites/' + encodeURIComponent($json.siteSlug || '') + '/entitlement' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-token",
              "value": "={{$env.INTERNAL_API_TOKEN || \"\"}}"
            }
          ]
        }
      }
    },
    {
      "id": "fetchPublishedToday",
      "name": "Fetch recent published list",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1020,
        260
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ (() => { const siteSlug = ($('Resolve Site Context').item.json.siteSlug || ''); const query = '*[_type==\\\"article\\\" && siteSlug==\\\"' + siteSlug + '\\\" && status==\\\"published\\\"]|order(publishedAt desc)[0...500]{publishedAt}'; return 'https://' + $('Resolve Site Context').item.json.sanity.projectId + '.api.sanity.io/v' + ($('Resolve Site Context').item.json.sanity.apiVersion || '2025-01-01') + '/data/query/' + ($('Resolve Site Context').item.json.sanity.dataset || 'production') + '?query=' + encodeURIComponent(query); })() }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$('Resolve Site Context').item.json.sanity.readToken}}"
            }
          ]
        }
      }
    },
    {
      "id": "planRuns",
      "name": "Plan runs for this tick",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        260
      ],
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "function toMs(value) {\n  if (!value) return null;\n  const ms = new Date(value).getTime();\n  return Number.isNaN(ms) ? null : ms;\n}\n\nconst sourceItems = (typeof $input !== 'undefined' && $input && typeof $input.all === 'function')\n  ? $input.all()\n  : (typeof items !== 'undefined' ? items : []);\nfunction getNodeJson(nodeName) {\n  try {\n    if (typeof $(nodeName).all === 'function') {\n      const allItems = $(nodeName).all();\n      if (Array.isArray(allItems) && allItems[0] && typeof allItems[0].json === 'object') {\n        return allItems[0].json;\n      }\n    }\n  } catch (error) {\n    // ignore\n  }\n\n  try {\n    if ($(nodeName).item && typeof $(nodeName).item.json === 'object') {\n      return $(nodeName).item.json;\n    }\n  } catch (error) {\n    // ignore\n  }\n\n  return {};\n}\n\nconst webhookCtx = getNodeJson('Build webhook payload');\nconst scheduleCtx = getNodeJson('Build scheduled payload');\nconst triggerCtx = (webhookCtx.siteSlug && webhookCtx.triggerType === 'webhook') ? webhookCtx : scheduleCtx;\n\nconst base = {\n  ...triggerCtx,\n  ...(sourceItems[0] ? sourceItems[0].json || {} : {})\n};\nconst entitlementSnap = $('Fetch entitlement snapshot').item.json || {};\nconst quota = entitlementSnap.quota || {};\nconst publishedListRes = $('Fetch recent published list').item.json || {};\nconst recentPublished = Array.isArray(publishedListRes.result) ? publishedListRes.result : [];\nconst briefReadyRes = $('Fetch brief_ready topics count').item.json || {};\nconst briefReadyCount = Math.max(0, Number(briefReadyRes.result || 0));\n\nconst siteSlug = String(base.siteSlug || entitlementSnap.siteSlug || '').toLowerCase().trim();\nif (!siteSlug) throw new Error('Missing siteSlug in scheduler planning context');\nconst now = Date.now();\nconst force = Boolean(base.force);\nconst triggerType = String(base.triggerType || 'schedule');\nconst reason = String(base.reason || 'scheduled_tick');\nconst schedulerRunId = String(base.schedulerRunId || ('plan-scheduler-' + new Date().toISOString().replace(/[:.]/g, '-')));\nconst refillIntervalMinutes = Math.max(1, Number($env.PLAN_TOPIC_REFILL_INTERVAL_MINUTES || 15));\nconst minuteBucketNow = Math.floor(now / 60000);\nconst refillDueNow = force || (minuteBucketNow % refillIntervalMinutes === 0);\n\n\nif (briefReadyCount <= 0) {\n  return [{\n    json: {\n      siteSlug,\n      briefReadyCount,\n      schedulerRunId,\n      triggerType,\n      reason,\n      plan: String(entitlementSnap.plan || 'base').toLowerCase(),\n      monthlyQuota: Math.max(0, Number((entitlementSnap.quota || {}).monthlyQuota || 0)),\n      publishedThisMonth: Math.max(0, Number((entitlementSnap.quota || {}).publishedThisMonth || 0)),\n      refillDue: refillDueNow,\n      refillIntervalMinutes,\n      noWorkNeeded: true,\n      runsThisTick: 0,\n      note: 'No brief_ready topics available'\n    }\n  }];\n}\n\nif (base.skipTick === true) {\n  return [{\n    json: {\n      siteSlug,\n      schedulerRunId,\n      triggerType,\n      reason,\n      runsThisTick: 0,\n      noWorkNeeded: true,\n      note: base.note || 'Tick skipped by PLAN_SCHEDULER_TICK_MINUTES gate'\n    }\n  }];\n}\n\nif (!entitlementSnap.ok) {\n  return [{ json: { siteSlug, schedulerRunId, triggerType, reason, noWorkNeeded: true, note: 'Entitlement endpoint returned non-ok payload' } }];\n}\n\nconst publishingEnabled = entitlementSnap.publishingEnabled !== false;\nconst plan = String(entitlementSnap.plan || 'base').toLowerCase();\nconst status = String(entitlementSnap.status || 'active').toLowerCase();\nconst monthlyQuota = Math.max(0, Number(quota.monthlyQuota || 0));\nconst publishedThisMonth = Math.max(0, Number(quota.publishedThisMonth || 0));\nconst periodStartMs = toMs(quota.periodStart);\nconst periodEndMs = toMs(quota.periodEnd);\n\nconst maxRunsPerTick = Math.max(1, Number($env.PLAN_SCHEDULER_MAX_RUNS_PER_TICK || 2));\nconst dailyCaps = {\n  base: Math.max(1, Number($env.PLAN_SCHEDULER_DAILY_CAP_BASE || 1)),\n  standard: Math.max(1, Number($env.PLAN_SCHEDULER_DAILY_CAP_STANDARD || 2)),\n  pro: Math.max(1, Number($env.PLAN_SCHEDULER_DAILY_CAP_PRO || 4))\n};\nconst dailyCap = dailyCaps[plan] || dailyCaps.base;\n\nconst todayStart = new Date();\ntodayStart.setHours(0, 0, 0, 0);\nconst todayStartMs = todayStart.getTime();\nconst todayCount = recentPublished.reduce((count, item) => {\n  const ms = toMs(item.publishedAt);\n  return ms !== null && ms >= todayStartMs ? count + 1 : count;\n}, 0);\n\nif (!publishingEnabled || status !== 'active' || monthlyQuota <= 0) {\n  return [{\n    json: {\n      siteSlug,\n      briefReadyCount,\n      schedulerRunId,\n      triggerType,\n      reason,\n      plan,\n      monthlyQuota,\n      publishedThisMonth,\n      todayCount,\n      dailyCap,\n      noWorkNeeded: true,\n      note: 'Publishing disabled, inactive entitlement, or zero quota'\n    }\n  }];\n}\n\nconst monthlyRemaining = Math.max(0, monthlyQuota - publishedThisMonth);\nconst dailyRemaining = Math.max(0, dailyCap - todayCount);\n\nconst testMode = String($env.PLAN_SCHEDULER_TEST_MODE || 'false').toLowerCase() === 'true';\nif (testMode) {\n  const planIntervals = {\n    base: Math.max(1, Number($env.PLAN_TEST_INTERVAL_MINUTES_BASE || 3)),\n    standard: Math.max(1, Number($env.PLAN_TEST_INTERVAL_MINUTES_STANDARD || 2)),\n    pro: Math.max(1, Number($env.PLAN_TEST_INTERVAL_MINUTES_PRO || 1))\n  };\n  const intervalMinutes = planIntervals[plan] || planIntervals.base;\n  const intervalStartMs = now - intervalMinutes * 60_000;\n  const publishedInInterval = recentPublished.some((item) => {\n    const ms = toMs(item.publishedAt);\n    return ms !== null && ms >= intervalStartMs;\n  });\n\n  const runsThisTick = force\n    ? Math.max(0, Math.min(1, monthlyRemaining, dailyRemaining, maxRunsPerTick))\n    : (publishedInInterval ? 0 : Math.max(0, Math.min(1, monthlyRemaining, dailyRemaining, maxRunsPerTick)));\n\n  if (runsThisTick <= 0) {\n    return [{\n      json: {\n        siteSlug,\n        briefReadyCount,\n        schedulerRunId,\n        triggerType,\n        reason,\n        plan,\n        monthlyQuota,\n        publishedThisMonth,\n        monthlyRemaining,\n        todayCount,\n        dailyCap,\n        dailyRemaining,\n        maxRunsPerTick,\n        runsThisTick,\n        testMode: true,\n        intervalMinutes,\n        noWorkNeeded: true,\n        note: publishedInInterval ? 'Test mode interval gate not elapsed yet' : 'No runs allowed by quota/caps'\n      }\n    }];\n  }\n\n  return [{\n    json: {\n      siteSlug,\n      schedulerRunId,\n      triggerType,\n      reason,\n      plan,\n      monthlyQuota,\n      publishedThisMonth,\n      monthlyRemaining,\n      todayCount,\n      dailyCap,\n      dailyRemaining,\n      maxRunsPerTick,\n      runsThisTick,\n      runIndex: 1,\n      testMode: true,\n      intervalMinutes,\n      noWorkNeeded: false,\n      pipelineMode: 'prepopulate_bulk_direct'\n    }\n  }];\n}\n\nlet elapsedRatio = 1;\nif (periodStartMs !== null && periodEndMs !== null && periodEndMs > periodStartMs) {\n  elapsedRatio = Math.min(1, Math.max(0, (now - periodStartMs) / (periodEndMs - periodStartMs)));\n}\n\nconst expectedByNow = Math.floor(monthlyQuota * elapsedRatio);\nlet missing = Math.max(0, Math.min(monthlyRemaining, expectedByNow - publishedThisMonth));\n\nif (force && missing <= 0 && monthlyRemaining > 0) {\n  missing = 1;\n}\n\nconst runsThisTick = Math.max(0, Math.min(missing, dailyRemaining, maxRunsPerTick));\n\nif (runsThisTick <= 0) {\n  return [{\n    json: {\n      siteSlug,\n      schedulerRunId,\n      triggerType,\n      reason,\n      plan,\n      monthlyQuota,\n      publishedThisMonth,\n      monthlyRemaining,\n      expectedByNow,\n      elapsedRatio,\n      todayCount,\n      dailyCap,\n      dailyRemaining,\n      maxRunsPerTick,\n      runsThisTick,\n      noWorkNeeded: true,\n      note: 'No runs needed on this tick'\n    }\n  }];\n}\n\nreturn Array.from({ length: runsThisTick }, (_, idx) => ({\n  json: {\n    siteSlug,\n    briefReadyCount,\n    schedulerRunId,\n    triggerType,\n    reason,\n    plan,\n    monthlyQuota,\n    publishedThisMonth,\n    monthlyRemaining,\n    expectedByNow,\n    elapsedRatio,\n    todayCount,\n    dailyCap,\n    dailyRemaining,\n    maxRunsPerTick,\n    runsThisTick,\n    runIndex: idx + 1,\n    noWorkNeeded: false,\n    pipelineMode: 'prepopulate_bulk_direct'\n  }\n}));"
      }
    },
    {
      "id": "noWorkGate",
      "name": "No work needed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1530,
        260
      ],
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ Number($json.runsThisTick || 0) }}",
              "operation": "smallerEqual",
              "value2": 0
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "runArticleWorker",
      "name": "Run article_generation_worker",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1780,
        150
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{$env.N8N_WORKFLOW_ID_ARTICLE_GENERATION}}",
          "cachedResultName": "article_generation_worker"
        },
        "mode": "each",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "pipelineMode": "={{$json.pipelineMode}}",
            "siteSlug": "={{$json.siteSlug}}",
            "schedulerRunId": "={{$json.schedulerRunId}}",
            "runIndex": "={{$json.runIndex}}",
            "runsThisTick": "={{$json.runsThisTick}}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      }
    },
    {
      "id": "runImageWorker",
      "name": "Run image_generation_worker",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "alwaysOutputData": true,
      "position": [
        2030,
        150
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{$env.N8N_WORKFLOW_ID_IMAGE_GENERATION}}",
          "cachedResultName": "image_generation_worker"
        },
        "mode": "each",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "pipelineMode": "={{$('Plan runs for this tick').item.json.pipelineMode || $json.pipelineMode}}",
            "siteSlug": "={{$('Plan runs for this tick').item.json.siteSlug || $json.siteSlug}}",
            "schedulerRunId": "={{$('Plan runs for this tick').item.json.schedulerRunId || $json.schedulerRunId}}",
            "runIndex": "={{$('Plan runs for this tick').item.json.runIndex || $json.runIndex}}",
            "runsThisTick": "={{$('Plan runs for this tick').item.json.runsThisTick || $json.runsThisTick}}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      }
    },
    {
      "id": "runQaWorker",
      "name": "Run qa_scoring_and_publish_worker",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "alwaysOutputData": true,
      "position": [
        2280,
        150
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{$env.N8N_WORKFLOW_ID_QA_PUBLISH}}",
          "cachedResultName": "qa_scoring_and_publish_worker"
        },
        "mode": "each",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "pipelineMode": "={{$('Plan runs for this tick').item.json.pipelineMode || $json.pipelineMode}}",
            "siteSlug": "={{$('Plan runs for this tick').item.json.siteSlug || $json.siteSlug}}",
            "schedulerRunId": "={{$('Plan runs for this tick').item.json.schedulerRunId || $json.schedulerRunId}}",
            "runIndex": "={{$('Plan runs for this tick').item.json.runIndex || $json.runIndex}}",
            "runsThisTick": "={{$('Plan runs for this tick').item.json.runsThisTick || $json.runsThisTick}}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      }
    },
    {
      "id": "report",
      "name": "Build scheduler report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2540,
        260
      ],
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "const allItems = (typeof $input !== 'undefined' && $input && typeof $input.all === 'function')\n  ? $input.all()\n  : (typeof items !== 'undefined' ? items : []);\nconst rows = allItems.map((item) => item.json || {});\n\nlet planCtx = {};\ntry {\n  const planItems = $('Plan runs for this tick').all();\n  planCtx = planItems[0]?.json || {};\n} catch (error) {\n  planCtx = {};\n}\n\nconst first = rows[0] || {};\nconst ctx = { ...first, ...planCtx };\n\nreturn [{\n  json: {\n    workflowName: 'plan_generation_scheduler_worker',\n    timestamp: new Date().toISOString(),\n    siteSlug: ctx.siteSlug || null,\n    schedulerRunId: ctx.schedulerRunId || null,\n    triggerType: ctx.triggerType || 'schedule',\n    reason: ctx.reason || 'scheduled_tick',\n    plan: ctx.plan || null,\n    monthlyQuota: Number(ctx.monthlyQuota || 0),\n    publishedThisMonth: Number(ctx.publishedThisMonth || 0),\n    expectedByNow: Number(ctx.expectedByNow || 0),\n    runsThisTick: Number(ctx.runsThisTick || rows.length || 0),\n    executedRuns: rows.length,\n    note: 'Plan-based generation scheduler executed.'\n  }\n}];"
      }
    },
    {
      "id": "noopReport",
      "name": "Build no-op report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        360
      ],
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForEachItem",
        "jsCode": "const current = (typeof $json === 'object' && $json) ? $json : {};\nlet gate = {};\ntry {\n  gate = ($('Need topic refill?').item && $('Need topic refill?').item.json) ? $('Need topic refill?').item.json : {};\n} catch (error) {\n  gate = {};\n}\n\nconst merged = { ...gate, ...current };\nlet note = merged.note || 'No generation needed on this tick';\nif (merged.ok === true && note === 'No brief_ready topics available') {\n  note = 'Auto-refill triggered: new topic candidates generated';\n}\n\nreturn {\n  json: {\n    workflowName: 'plan_generation_scheduler_worker',\n    timestamp: new Date().toISOString(),\n    siteSlug: merged.siteSlug || null,\n    schedulerRunId: merged.schedulerRunId || null,\n    triggerType: merged.triggerType || 'schedule',\n    reason: merged.reason || 'scheduled_tick',\n    plan: merged.plan || null,\n    monthlyQuota: Number(merged.monthlyQuota || 0),\n    publishedThisMonth: Number(merged.publishedThisMonth || 0),\n    expectedByNow: Number(merged.expectedByNow || 0),\n    runsThisTick: Number(merged.runsThisTick || 0),\n    noWorkNeeded: true,\n    note\n  }\n};"
      }
    },
    {
      "id": "fetch-brief-ready-count",
      "name": "Fetch brief_ready topics count",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1160,
        220
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ (() => { const siteSlug = ($('Resolve Site Context').item.json.siteSlug || ''); const query = 'count(*[_type==\\\"topicCandidate\\\" && siteSlug==\\\"' + siteSlug + '\\\" && status==\\\"brief_ready\\\"])'; return 'https://' + $('Resolve Site Context').item.json.sanity.projectId + '.api.sanity.io/v' + ($('Resolve Site Context').item.json.sanity.apiVersion || '2025-01-01') + '/data/query/' + ($('Resolve Site Context').item.json.sanity.dataset || 'production') + '?query=' + encodeURIComponent(query); })() }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$('Resolve Site Context').item.json.sanity.readToken}}"
            }
          ]
        }
      }
    },
    {
      "id": "needTopicRefillGate",
      "name": "Need topic refill?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1760,
        180
      ],
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ Number($json.noWorkNeeded === true && $json.note === 'No brief_ready topics available' && $json.refillDue === true) }}",
              "operation": "equal",
              "value2": 1
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "runDiscoverTopicsRefill",
      "name": "Run discover-topics refill",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1980,
        120
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CONTENT_ENGINE_URL.replace(/\\/$/, '') + '/api/factory/site/discover-topics' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-internal-token",
              "value": "={{$env.INTERNAL_API_TOKEN || \"\"}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ siteSlug: $json.siteSlug, count: Number($env.PLAN_TOPIC_REFILL_COUNT || 60), status: 'brief_ready', source: 'suggest', replace: true, apply: true }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "alwaysOutputData": true
    },
    {
      "id": "resolve_site_context",
      "name": "Resolve Site Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        260
      ],
      "parameters": {
        "jsCode": "const incoming = (typeof $json === 'object' && $json) ? $json : {};\nconst body = incoming.body && typeof incoming.body === 'object' ? incoming.body : {};\nconst payload = incoming.payload && typeof incoming.payload === 'object' ? incoming.payload : {};\nconst siteSlug = String(\n  incoming.siteSlug ||\n  incoming.site_slug ||\n  body.siteSlug ||\n  payload.siteSlug ||\n  ''\n).trim().toLowerCase();\nif (!siteSlug) {\n  throw new Error('Missing siteSlug for Resolve Site Context');\n}\n\nconst baseUrl = String($env.CONTENT_ENGINE_URL || '').replace(/\\/$/, '');\nif (!baseUrl) {\n  throw new Error('Missing CONTENT_ENGINE_URL env var');\n}\n\nconst internalToken = String($env.INTERNAL_API_TOKEN || '').trim();\nif (!internalToken) {\n  throw new Error('Missing INTERNAL_API_TOKEN env var');\n}\n\nconst nf = (typeof fetch === 'function') ? null : require('node-fetch');\nconst fetchFn = (typeof fetch === 'function') ? fetch : (nf.default || nf);\nconst url = baseUrl + '/api/internal/sites/' + encodeURIComponent(siteSlug) + '/sanity-connection';\n\nconst response = await fetchFn(url, {\n  method: 'GET',\n  headers: {\n    'x-internal-token': internalToken,\n  },\n});\n\nconst raw = await response.text();\nlet parsed = {};\ntry {\n  parsed = raw ? JSON.parse(raw) : {};\n} catch (error) {\n  throw new Error('Invalid sanity-connection response for ' + siteSlug + ': ' + raw.slice(0, 220));\n}\n\nif (!response.ok || !parsed.ok || !parsed.sanity) {\n  throw new Error('Cannot resolve site Sanity connection for ' + siteSlug + ': ' + (parsed.error || raw || response.status));\n}\n\nconst sanity = parsed.sanity || {};\nif (!sanity.projectId || !sanity.readToken || !sanity.writeToken) {\n  throw new Error('Incomplete site Sanity connection for ' + siteSlug);\n}\n\nreturn {\n  json: {\n    ...incoming,\n    siteSlug: parsed.siteSlug || siteSlug,\n    sanity,\n  }\n};"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Build scheduled payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Build webhook payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build scheduled payload": {
      "main": [
        [
          {
            "node": "Fetch entitlement snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build webhook payload": {
      "main": [
        [
          {
            "node": "Fetch entitlement snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch entitlement snapshot": {
      "main": [
        [
          {
            "node": "Resolve Site Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch recent published list": {
      "main": [
        [
          {
            "node": "Fetch brief_ready topics count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Plan runs for this tick": {
      "main": [
        [
          {
            "node": "No work needed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No work needed?": {
      "main": [
        [
          {
            "node": "Need topic refill?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Run article_generation_worker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run article_generation_worker": {
      "main": [
        [
          {
            "node": "Run image_generation_worker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run image_generation_worker": {
      "main": [
        [
          {
            "node": "Run qa_scoring_and_publish_worker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run qa_scoring_and_publish_worker": {
      "main": [
        [
          {
            "node": "Build scheduler report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch brief_ready topics count": {
      "main": [
        [
          {
            "node": "Plan runs for this tick",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Need topic refill?": {
      "main": [
        [
          {
            "node": "Run discover-topics refill",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build no-op report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run discover-topics refill": {
      "main": [
        [
          {
            "node": "Build no-op report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Site Context": {
      "main": [
        [
          {
            "node": "Fetch recent published list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  }
}
