infra/n8n/workflows/prepopulate_bulk_runner.json
{
  "name": "prepopulate_bulk_runner",
  "active": false,
  "nodes": [
    {
      "id": "manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        220,
        260
      ],
      "parameters": {}
    },
    {
      "id": "loadCfg",
      "name": "Load Prepopulate Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        470,
        260
      ],
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForEachItem",
        "jsCode": "const root = (typeof $json === 'object' && $json) ? $json : {};\nconst input = (root.body && typeof root.body === 'object') ? root.body : root;\n\nconst targetPublishedCount = Math.max(1, Number(input.targetPublishedCount || input.prepopulateTargetPublishedCount || $env.PREPOPULATE_TARGET_PUBLISHED || 20));\nconst batchSize = Math.max(1, Number(input.batchSize || input.prepopulateBatchSize || $env.PREPOPULATE_BATCH_SIZE || 3));\nconst maxRunMinutes = Math.max(1, Number(input.maxRunMinutes || input.prepopulateMaxRunMinutes || $env.PREPOPULATE_MAX_RUN_MINUTES || 90));\nconst maxCostUsd = Math.max(1, Number(input.maxCostUsd || input.prepopulateMaxCostUsd || $env.PREPOPULATE_MAX_COST_USD || 15));\nconst siteSlug = String(input.siteSlug || $env.SITE_SLUG || 'hammer-hearth').toLowerCase().trim();\nconst pipelineMode = String(input.pipelineMode || 'prepopulate_bulk_direct');\nconst batchId = String(input.prepopulateBatchId || ('prepop-' + new Date().toISOString().replace(/[:.]/g, '-')));\n\nreturn {\n  json: {\n    targetPublishedCount,\n    batchSize,\n    maxRunMinutes,\n    maxCostUsd,\n    pipelineMode,\n    prepopulateBatchId: batchId,\n    siteSlug,\n  }\n};"
      }
    },
    {
      "id": "countPublished",
      "name": "Count published articles",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        760,
        260
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://' + $env.SANITY_PROJECT_ID + '.api.sanity.io/v' + ($env.SANITY_API_VERSION || '2025-01-01') + '/data/query/' + ($env.SANITY_DATASET || 'production') + '?query=' + encodeURIComponent('count(*[_type==\\\"article\\\" && siteSlug==\\\"' + ($json.siteSlug || $env.SITE_SLUG || 'hammer-hearth') + '\\\" && status==\\\"published\\\"])') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SANITY_READ_TOKEN}}"
            }
          ]
        }
      }
    },
    {
      "id": "planCycles",
      "name": "Plan prepopulate cycles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1050,
        260
      ],
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "const cfg = $('Load Prepopulate Config').item.json;\nconst countNode = $('Count published articles').item.json || {};\nconst publishedCount = Number(countNode.result || 0);\nconst remaining = Math.max(0, Number(cfg.targetPublishedCount || 0) - publishedCount);\nconst batchSize = Math.max(1, Number(cfg.batchSize || 3));\nconst plannedCycles = Math.ceil(remaining / batchSize);\n\nif (plannedCycles <= 0) {\n  return [{ json: { ...cfg, publishedCount, remaining, plannedCycles: 0, noWorkNeeded: true } }];\n}\n\nreturn Array.from({ length: plannedCycles }, (_, index) => ({\n  json: {\n    ...cfg,\n    publishedCount,\n    remaining,\n    plannedCycles,\n    cycleIndex: index + 1,\n    noWorkNeeded: false,\n  }\n}));"
      }
    },
    {
      "id": "noWorkGate",
      "name": "No work needed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1290,
        260
      ],
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ Number($json.remaining || 0) }}",
              "operation": "smallerEqual",
              "value2": 0
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "runArticleWorker",
      "name": "Run article_generation_worker",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1540,
        140
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{$env.N8N_WORKFLOW_ID_ARTICLE_GENERATION}}",
          "cachedResultName": "article_generation_worker"
        },
        "mode": "each",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "pipelineMode": "={{ $('Load Prepopulate Config').item.json.pipelineMode }}",
            "prepopulateBatchId": "={{ $('Load Prepopulate Config').item.json.prepopulateBatchId }}",
            "cycleIndex": "={{$json.cycleIndex}}",
            "plannedCycles": "={{$json.plannedCycles}}",
            "siteSlug": "={{ $('Load Prepopulate Config').item.json.siteSlug }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      }
    },
    {
      "id": "runImageWorker",
      "name": "Run image_generation_worker",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "alwaysOutputData": true,
      "position": [
        1790,
        140
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{$env.N8N_WORKFLOW_ID_IMAGE_GENERATION}}",
          "cachedResultName": "image_generation_worker"
        },
        "mode": "each",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "pipelineMode": "={{ $('Load Prepopulate Config').item.json.pipelineMode }}",
            "prepopulateBatchId": "={{ $('Load Prepopulate Config').item.json.prepopulateBatchId }}",
            "cycleIndex": "={{$json.cycleIndex}}",
            "plannedCycles": "={{$json.plannedCycles}}",
            "siteSlug": "={{ $('Load Prepopulate Config').item.json.siteSlug }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      }
    },
    {
      "id": "runQaWorker",
      "name": "Run qa_scoring_and_publish_worker",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "alwaysOutputData": true,
      "position": [
        2040,
        140
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{$env.N8N_WORKFLOW_ID_QA_PUBLISH}}",
          "cachedResultName": "qa_scoring_and_publish_worker"
        },
        "mode": "each",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "pipelineMode": "={{ $('Load Prepopulate Config').item.json.pipelineMode }}",
            "prepopulateBatchId": "={{ $('Load Prepopulate Config').item.json.prepopulateBatchId }}",
            "cycleIndex": "={{$json.cycleIndex}}",
            "plannedCycles": "={{$json.plannedCycles}}",
            "siteSlug": "={{ $('Load Prepopulate Config').item.json.siteSlug }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      }
    },
    {
      "id": "summary",
      "name": "Build Prepopulate Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2310,
        260
      ],
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "const cfg = $('Load Prepopulate Config').item.json;\nconst allItems = (typeof $input !== 'undefined' && $input && typeof $input.all === 'function')\n  ? $input.all()\n  : (typeof items !== 'undefined' ? items : []);\nconst cycleItems = allItems.map((item) => item.json || {});\nconst executedCycles = cycleItems.filter((item) => !item.noWorkNeeded).length;\nconst plannedFromNode = Number(($('Plan prepopulate cycles').item.json || {}).plannedCycles || 0);\nconst plannedCycles = plannedFromNode || cycleItems.length || 0;\nreturn [{\n  json: {\n    workflowName: 'prepopulate_bulk_runner',\n    siteSlug: cfg.siteSlug,\n    batchId: cfg.prepopulateBatchId,\n    targetPublishedCount: cfg.targetPublishedCount,\n    batchSize: cfg.batchSize,\n    maxRunMinutes: cfg.maxRunMinutes,\n    maxCostUsd: cfg.maxCostUsd,\n    pipelineMode: cfg.pipelineMode,\n    plannedCycles,\n    executedCycles,\n    note: 'This runner orchestrates existing worker workflows. Configure N8N_WORKFLOW_ID_* env vars and keep PIPELINE_MODE_DEFAULT=prepopulate_bulk_direct during launch.'\n  }\n}];"
      }
    },
    {
      "id": "noWorkSummary",
      "name": "Build No-op Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        360
      ],
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForEachItem",
        "jsCode": "return { json: { workflowName: 'prepopulate_bulk_runner', siteSlug: $json.siteSlug, noWorkNeeded: true, targetPublishedCount: $json.targetPublishedCount, publishedCount: $json.publishedCount, remaining: $json.remaining, message: 'Target already reached' } };"
      }
    },
    {
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        420
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "factory-prepopulate",
        "responseMode": "onReceived",
        "options": {}
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Load Prepopulate Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Prepopulate Config": {
      "main": [
        [
          {
            "node": "Count published articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count published articles": {
      "main": [
        [
          {
            "node": "Plan prepopulate cycles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Plan prepopulate cycles": {
      "main": [
        [
          {
            "node": "No work needed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No work needed?": {
      "main": [
        [
          {
            "node": "Build No-op Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Run article_generation_worker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run article_generation_worker": {
      "main": [
        [
          {
            "node": "Run image_generation_worker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run image_generation_worker": {
      "main": [
        [
          {
            "node": "Run qa_scoring_and_publish_worker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run qa_scoring_and_publish_worker": {
      "main": [
        [
          {
            "node": "Build Prepopulate Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Load Prepopulate Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "template": true,
    "pipelineStage": "prepopulate_bulk"
  }
}
