infra/n8n/workflows/publish_scheduler_worker.json
{
  "name": "publish_scheduler_worker",
  "active": false,
  "nodes": [
    {
      "id": "schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        220,
        260
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      }
    },
    {
      "id": "fetchSettings",
      "name": "Fetch siteSettings publishing config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        470,
        260
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://' + $env.SANITY_PROJECT_ID + '.api.sanity.io/v' + ($env.SANITY_API_VERSION || '2025-01-01') + '/data/query/' + ($env.SANITY_DATASET || 'production') + '?query=' + encodeURIComponent('*[_type==\\\"siteSettings\\\"][0]{publishing}') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SANITY_READ_TOKEN}}"
            }
          ]
        }
      }
    },
    {
      "id": "fetchRecentPublished",
      "name": "Fetch recent published articles",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        760,
        160
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://' + $env.SANITY_PROJECT_ID + '.api.sanity.io/v' + ($env.SANITY_API_VERSION || '2025-01-01') + '/data/query/' + ($env.SANITY_DATASET || 'production') + '?query=' + encodeURIComponent('*[_type==\\\"article\\\" && status==\\\"published\\\"]|order(publishedAt desc)[0...500]{_id,publishedAt,publishSequence}') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SANITY_READ_TOKEN}}"
            }
          ]
        }
      }
    },
    {
      "id": "fetchReadyQueue",
      "name": "Fetch ready_to_publish queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        760,
        360
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://' + $env.SANITY_PROJECT_ID + '.api.sanity.io/v' + ($env.SANITY_API_VERSION || '2025-01-01') + '/data/query/' + ($env.SANITY_DATASET || 'production') + '?query=' + encodeURIComponent('*[_type==\\\"article\\\" && status==\\\"ready_to_publish\\\"]|order(qaPassedAt asc)[0...50]{_id,title,slug,qaScore,qaPassedAt,pipelineMode,prepopulateBatchId}') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SANITY_READ_TOKEN}}"
            }
          ]
        }
      }
    },
    {
      "id": "selectQueue",
      "name": "Select items for this tick",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        260
      ],
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "function parseJsonSafe(value, fallback) {\n  try { return value ? JSON.parse(value) : fallback; } catch { return fallback; }\n}\nfunction toDateMs(value) {\n  if (!value) return null;\n  const d = new Date(value);\n  const ms = d.getTime();\n  return Number.isNaN(ms) ? null : ms;\n}\nconst settingsDoc = (($('Fetch siteSettings publishing config').item.json || {}).result) || {};\nconst publishing = settingsDoc.publishing || {};\nconst recent = Array.isArray((($('Fetch recent published articles').item.json || {}).result)) ? $('Fetch recent published articles').item.json.result : [];\nconst queue = Array.isArray((($('Fetch ready_to_publish queue').item.json || {}).result)) ? $('Fetch ready_to_publish queue').item.json.result : [];\n\nconst fallbackRules = parseJsonSafe($env.PUBLISH_CADENCE_RULES_JSON, [\n  { label: 'Launch burst', maxPublishes: 1, perMinutes: 3 },\n  { label: 'Steady cadence', maxPublishes: 1, perDays: 1 }\n]);\nconst rules = Array.isArray(publishing.cadenceRules) && publishing.cadenceRules.length ? publishing.cadenceRules : fallbackRules;\nconst now = Date.now();\n\nconst activeRule = rules.find((rule) => {\n  const start = toDateMs(rule.startAt);\n  const end = toDateMs(rule.endAt);\n  const afterStart = start === null ? true : now >= start;\n  const beforeEnd = end === null ? true : now < end;\n  return afterStart && beforeEnd;\n}) || rules[rules.length - 1];\n\nif (!activeRule || !queue.length) return [];\nconst intervalMs = activeRule.perMinutes ? Number(activeRule.perMinutes) * 60_000 : Number(activeRule.perDays || 1) * 86_400_000;\nconst maxPublishes = Math.max(1, Number(activeRule.maxPublishes || 1));\nconst maxPerRun = Math.max(1, Number(publishing.maxPublishesPerRun || 1));\nconst revalidateEnabled = publishing.revalidateEnabled !== false && String($env.PUBLISH_REVALIDATE_ENABLED || 'true') !== 'false';\n\nconst windowStart = now - intervalMs;\nconst publishedInWindow = recent.filter((article) => {\n  const ms = toDateMs(article.publishedAt);\n  return ms !== null && ms >= windowStart && ms <= now;\n}).length;\nconst quotaRemaining = Math.max(0, maxPublishes - publishedInWindow);\nif (quotaRemaining <= 0) return [];\n\nconst selected = queue\n  .slice()\n  .sort((a, b) => {\n    const qaDiff = Number(b.qaScore || 0) - Number(a.qaScore || 0);\n    if (qaDiff !== 0) return qaDiff;\n    return String(a.qaPassedAt || '').localeCompare(String(b.qaPassedAt || ''));\n  })\n  .slice(0, Math.min(quotaRemaining, maxPerRun));\n\nconst existingSeqMax = recent.reduce((max, item) => Math.max(max, Number(item.publishSequence || 0)), 0);\nconst publishedAtIso = new Date().toISOString();\n\nreturn selected.map((article, index) => ({\n  json: {\n    ...article,\n    publishedAtIso,\n    publishSequence: existingSeqMax + index + 1,\n    activeCadenceRule: activeRule,\n    quotaRemaining,\n    publishedInWindow,\n    revalidateEnabled,\n  }\n}));"
      }
    },
    {
      "id": "publishReady",
      "name": "Patch ready_to_publish -> published",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1310,
        220
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://{{$env.SANITY_PROJECT_ID}}.api.sanity.io/v{{$env.SANITY_API_VERSION || '2025-01-01'}}/data/mutate/{{$env.SANITY_DATASET || 'production'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SANITY_WRITE_TOKEN}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  mutations: [\n    {\n      patch: {\n        id: $json._id,\n        set: {\n          status: 'published',\n          publishedAt: $json.publishedAtIso,\n          publishScheduledAt: $json.publishedAtIso,\n          publishSequence: $json.publishSequence,\n          pipelineMode: $json.pipelineMode || 'steady_scheduled'\n        }\n      }\n    }\n  ]\n}) }}"
      }
    },
    {
      "id": "revalidateGate",
      "name": "Revalidate Enabled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1560,
        220
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.revalidateEnabled}}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "revalidate",
      "name": "Call Web Revalidate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1810,
        160
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.WEB_APP_URL || 'http://host.docker.internal:3000').replace(/\\/$/, '') + '/api/revalidate' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-revalidate-secret",
              "value": "={{$env.WEB_REVALIDATE_SECRET}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  type: 'article',\n  slug: $json.slug?.current || $json.slug\n}) }}"
      }
    },
    {
      "id": "summary",
      "name": "Build Scheduler Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1810,
        340
      ],
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "const publishedItems = items.map((item) => item.json).filter(Boolean);\nreturn [{\n  json: {\n    workflowName: 'publish_scheduler_worker',\n    timestamp: new Date().toISOString(),\n    publishedCount: publishedItems.length,\n    slugs: publishedItems.map((item) => item.slug?.current || item.slug).filter(Boolean),\n    activeRule: publishedItems[0]?.activeCadenceRule || null,\n  }\n}];"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch siteSettings publishing config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch siteSettings publishing config": {
      "main": [
        [
          {
            "node": "Fetch recent published articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch recent published articles": {
      "main": [
        [
          {
            "node": "Fetch ready_to_publish queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch ready_to_publish queue": {
      "main": [
        [
          {
            "node": "Select items for this tick",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select items for this tick": {
      "main": [
        [
          {
            "node": "Patch ready_to_publish -> published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Patch ready_to_publish -> published": {
      "main": [
        [
          {
            "node": "Revalidate Enabled?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Scheduler Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revalidate Enabled?": {
      "main": [
        [
          {
            "node": "Call Web Revalidate",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "meta": {
    "template": true,
    "pipelineStage": "publish_scheduler"
  }
}
