infra/n8n/workflows/publish_scheduler_worker.json
{
  "name": "publish_scheduler_worker",
  "active": false,
  "nodes": [
    {
      "id": "schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        220,
        260
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      }
    },
    {
      "id": "fetchSettings",
      "name": "Fetch siteSettings publishing config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        470,
        260
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://' + $('Resolve Site Context').item.json.sanity.projectId + '.api.sanity.io/v' + ($('Resolve Site Context').item.json.sanity.apiVersion || '2025-01-01') + '/data/query/' + ($('Resolve Site Context').item.json.sanity.dataset || 'production') + '?query=' + encodeURIComponent('*[_type==\\\"siteSettings\\\" && siteSlug==\\\"' + ($env.SITE_SLUG || '') + '\\\"][0]{siteSlug,publishing,entitlement}') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$('Resolve Site Context').item.json.sanity.readToken}}"
            }
          ]
        }
      }
    },
    {
      "id": "fetchRecentPublished",
      "name": "Fetch recent published articles",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        760,
        160
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://' + $('Resolve Site Context').item.json.sanity.projectId + '.api.sanity.io/v' + ($('Resolve Site Context').item.json.sanity.apiVersion || '2025-01-01') + '/data/query/' + ($('Resolve Site Context').item.json.sanity.dataset || 'production') + '?query=' + encodeURIComponent('*[_type==\\\"article\\\" && siteSlug==\\\"' + ($env.SITE_SLUG || '') + '\\\" && status==\\\"published\\\"]|order(publishedAt desc)[0...500]{_id,publishedAt,publishSequence}') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$('Resolve Site Context').item.json.sanity.readToken}}"
            }
          ]
        }
      }
    },
    {
      "id": "fetchReadyQueue",
      "name": "Fetch ready_to_publish queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        760,
        360
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://' + $('Resolve Site Context').item.json.sanity.projectId + '.api.sanity.io/v' + ($('Resolve Site Context').item.json.sanity.apiVersion || '2025-01-01') + '/data/query/' + ($('Resolve Site Context').item.json.sanity.dataset || 'production') + '?query=' + encodeURIComponent('*[_type==\\\"article\\\" && siteSlug==\\\"' + ($env.SITE_SLUG || '') + '\\\" && status==\\\"ready_to_publish\\\"]|order(qaPassedAt asc)[0...50]{_id,title,slug,qaScore,qaPassedAt,pipelineMode,prepopulateBatchId,siteSlug}') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$('Resolve Site Context').item.json.sanity.readToken}}"
            }
          ]
        }
      }
    },
    {
      "id": "selectQueue",
      "name": "Select items for this tick",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        260
      ],
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "function parseJsonSafe(value, fallback) {\n  try { return value ? JSON.parse(value) : fallback; } catch { return fallback; }\n}\nfunction toDateMs(value) {\n  if (!value) return null;\n  const d = new Date(value);\n  const ms = d.getTime();\n  return Number.isNaN(ms) ? null : ms;\n}\nfunction inRange(ms, startMs, endMs, nowMs) {\n  if (ms === null) return false;\n  const afterStart = startMs === null ? true : ms >= startMs;\n  const beforeEnd = endMs === null ? ms <= nowMs : ms < endMs;\n  return afterStart && beforeEnd;\n}\n\nconst siteSlug = String($env.SITE_SLUG || '').toLowerCase().trim();\nif (!siteSlug) throw new Error('Missing SITE_SLUG env var for publish scheduler');\nconst settingsDoc = (($('Fetch siteSettings publishing config').item.json || {}).result) || {};\nconst publishing = settingsDoc.publishing || {};\nconst entitlement = settingsDoc.entitlement || {};\nconst recent = Array.isArray((($('Fetch recent published articles').item.json || {}).result)) ? $('Fetch recent published articles').item.json.result : [];\nconst queue = Array.isArray((($('Fetch ready_to_publish queue').item.json || {}).result)) ? $('Fetch ready_to_publish queue').item.json.result : [];\n\nconst rules = Array.isArray(publishing.cadenceRules) ? publishing.cadenceRules : [];\nif (!rules.length) throw new Error('Missing publishing.cadenceRules in siteSettings');\nconst now = Date.now();\n\nconst activeRule = rules.find((rule) => {\n  const start = toDateMs(rule.startAt);\n  const end = toDateMs(rule.endAt);\n  const afterStart = start === null ? true : now >= start;\n  const beforeEnd = end === null ? true : now < end;\n  return afterStart && beforeEnd;\n}) || rules[rules.length - 1];\n\nif (!activeRule || !queue.length) return [];\nconst intervalMs = activeRule.perMinutes ? Number(activeRule.perMinutes) * 60_000 : Number(activeRule.perDays || 1) * 86_400_000;\nconst maxPublishes = Math.max(1, Number(activeRule.maxPublishes || 1));\nconst maxPerRun = Math.max(1, Number(publishing.maxPublishesPerRun || 1));\nconst revalidateEnabled = publishing.revalidateEnabled !== false && String($env.PUBLISH_REVALIDATE_ENABLED || 'true') !== 'false';\n\nconst windowStart = now - intervalMs;\nconst publishedInWindow = recent.filter((article) => {\n  const ms = toDateMs(article.publishedAt);\n  return ms !== null && ms >= windowStart && ms <= now;\n}).length;\n\nconst planStatus = String(entitlement.status || 'active').toLowerCase();\nif (planStatus !== 'active') return [];\nconst planMonthlyQuota = Math.max(0, Number(entitlement.monthlyQuota || publishing.planMonthlyQuota || 0));\nconst planPeriodStartMs = toDateMs(entitlement.periodStart || publishing.quotaPeriodStart);\nconst planPeriodEndMs = toDateMs(entitlement.periodEnd || publishing.quotaPeriodEnd);\nconst publishedInPlanPeriod = recent.filter((article) => {\n  const ms = toDateMs(article.publishedAt);\n  return inRange(ms, planPeriodStartMs, planPeriodEndMs, now);\n}).length;\nconst monthlyRemaining = planMonthlyQuota > 0 ? Math.max(0, planMonthlyQuota - publishedInPlanPeriod) : Number.MAX_SAFE_INTEGER;\nif (monthlyRemaining <= 0) return [];\n\nconst cadenceRemaining = Math.max(0, maxPublishes - publishedInWindow);\nif (cadenceRemaining <= 0) return [];\n\nconst selected = queue\n  .slice()\n  .sort((a, b) => {\n    const qaDiff = Number(b.qaScore || 0) - Number(a.qaScore || 0);\n    if (qaDiff !== 0) return qaDiff;\n    return String(a.qaPassedAt || '').localeCompare(String(b.qaPassedAt || ''));\n  })\n  .slice(0, Math.min(cadenceRemaining, monthlyRemaining, maxPerRun));\n\nconst existingSeqMax = recent.reduce((max, item) => Math.max(max, Number(item.publishSequence || 0)), 0);\nconst publishedAtIso = new Date().toISOString();\n\nreturn selected.map((article, index) => ({\n  json: {\n    ...article,\n    siteSlug: article.siteSlug || siteSlug,\n    publishedAtIso,\n    publishSequence: existingSeqMax + index + 1,\n    activeCadenceRule: activeRule,\n    quotaRemaining: cadenceRemaining,\n    publishedInWindow,\n    revalidateEnabled,\n    planMonthlyQuota,\n    publishedInPlanPeriod,\n    monthlyRemaining\n  }\n}));"
      }
    },
    {
      "id": "publishReady",
      "name": "Patch ready_to_publish -> published",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1310,
        220
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://{{$('Resolve Site Context').item.json.sanity.projectId}}.api.sanity.io/v{{$('Resolve Site Context').item.json.sanity.apiVersion || '2025-01-01'}}/data/mutate/{{$('Resolve Site Context').item.json.sanity.dataset || 'production'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$('Resolve Site Context').item.json.sanity.writeToken}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  mutations: [\n    {\n      patch: {\n        id: $json._id,\n        set: {\n          siteSlug: $json.siteSlug || $env.SITE_SLUG || '',\n          status: 'published',\n          publishedAt: $json.publishedAtIso,\n          publishScheduledAt: $json.publishedAtIso,\n          publishSequence: $json.publishSequence,\n          pipelineMode: $json.pipelineMode || 'steady_scheduled'\n        }\n      }\n    }\n  ]\n}) }}"
      }
    },
    {
      "id": "revalidateGate",
      "name": "Revalidate Enabled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1560,
        220
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.revalidateEnabled}}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "revalidate",
      "name": "Call Web Revalidate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1810,
        160
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.WEB_APP_URL || 'http://host.docker.internal:3000').replace(/\\/$/, '') + '/api/revalidate' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-revalidate-secret",
              "value": "={{$env.WEB_REVALIDATE_SECRET}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  type: 'article',\n  slug: $json.slug?.current || $json.slug\n}) }}"
      }
    },
    {
      "id": "summary",
      "name": "Build Scheduler Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1810,
        340
      ],
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "const publishedItems = items.map((item) => item.json).filter(Boolean);\nreturn [{\n  json: {\n    workflowName: 'publish_scheduler_worker',\n    siteSlug: String($env.SITE_SLUG || '').toLowerCase().trim(),\n    timestamp: new Date().toISOString(),\n    publishedCount: publishedItems.length,\n    slugs: publishedItems.map((item) => item.slug?.current || item.slug).filter(Boolean),\n    activeRule: publishedItems[0]?.activeCadenceRule || null,\n  }\n}];"
      }
    },
    {
      "id": "notifyQuotaCount",
      "name": "Notify quota counter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1560,
        340
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CONTENT_ENGINE_URL.replace(/\\/$/, '') + '/api/internal/sites/' + encodeURIComponent($json.siteSlug || $env.SITE_SLUG || '') + '/publish-count' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-token",
              "value": "={{$env.INTERNAL_API_TOKEN || \"\"}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ incrementBy: 1 }) }}"
      }
    },
    {
      "id": "resolve_site_context",
      "name": "Resolve Site Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        230,
        260
      ],
      "parameters": {
        "jsCode": "const incoming = (typeof $json === 'object' && $json) ? $json : {};\nconst body = incoming.body && typeof incoming.body === 'object' ? incoming.body : {};\nconst payload = incoming.payload && typeof incoming.payload === 'object' ? incoming.payload : {};\nconst siteSlug = String(\n  incoming.siteSlug ||\n  incoming.site_slug ||\n  body.siteSlug ||\n  payload.siteSlug ||\n  $env.SITE_SLUG ||\n  ''\n).trim().toLowerCase();\nif (!siteSlug) {\n  throw new Error('Missing siteSlug for Resolve Site Context');\n}\n\nconst baseUrl = String($env.CONTENT_ENGINE_URL || '').replace(/\\/$/, '');\nif (!baseUrl) {\n  throw new Error('Missing CONTENT_ENGINE_URL env var');\n}\n\nconst internalToken = String($env.INTERNAL_API_TOKEN || '').trim();\nif (!internalToken) {\n  throw new Error('Missing INTERNAL_API_TOKEN env var');\n}\n\nconst nf = (typeof fetch === 'function') ? null : require('node-fetch');\nconst fetchFn = (typeof fetch === 'function') ? fetch : (nf.default || nf);\nconst url = baseUrl + '/api/internal/sites/' + encodeURIComponent(siteSlug) + '/sanity-connection';\n\nconst response = await fetchFn(url, {\n  method: 'GET',\n  headers: {\n    'x-internal-token': internalToken,\n  },\n});\n\nconst raw = await response.text();\nlet parsed = {};\ntry {\n  parsed = raw ? JSON.parse(raw) : {};\n} catch (error) {\n  throw new Error('Invalid sanity-connection response for ' + siteSlug + ': ' + raw.slice(0, 220));\n}\n\nif (!response.ok || !parsed.ok || !parsed.sanity) {\n  throw new Error('Cannot resolve site Sanity connection for ' + siteSlug + ': ' + (parsed.error || raw || response.status));\n}\n\nconst sanity = parsed.sanity || {};\nif (!sanity.projectId || !sanity.readToken || !sanity.writeToken) {\n  throw new Error('Incomplete site Sanity connection for ' + siteSlug);\n}\n\nreturn {\n  json: {\n    ...incoming,\n    siteSlug: parsed.siteSlug || siteSlug,\n    sanity,\n  }\n};"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Resolve Site Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch siteSettings publishing config": {
      "main": [
        [
          {
            "node": "Fetch recent published articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch recent published articles": {
      "main": [
        [
          {
            "node": "Fetch ready_to_publish queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch ready_to_publish queue": {
      "main": [
        [
          {
            "node": "Select items for this tick",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select items for this tick": {
      "main": [
        [
          {
            "node": "Patch ready_to_publish -> published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Patch ready_to_publish -> published": {
      "main": [
        [
          {
            "node": "Revalidate Enabled?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Scheduler Summary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify quota counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revalidate Enabled?": {
      "main": [
        [
          {
            "node": "Call Web Revalidate",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Notify quota counter": {
      "main": [
        []
      ]
    },
    "Resolve Site Context": {
      "main": [
        [
          {
            "node": "Fetch siteSettings publishing config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "template": true,
    "pipelineStage": "publish_scheduler"
  }
}
