infra/n8n/workflows/topic_discovery_daily.json
{
  "name": "topic_discovery_daily",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        260
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      }
    },
    {
      "id": "setRuntime",
      "name": "Set Runtime Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        460,
        260
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "workflowRunId",
              "value": "={{$now.toISO() + '-topic-discovery'}}",
              "type": "string"
            },
            {
              "name": "locale",
              "value": "en-US",
              "type": "string"
            },
            {
              "name": "targetPerDay",
              "value": "={{Number($env.TOPIC_DISCOVERY_TARGET_PER_DAY || 20)}}",
              "type": "number"
            },
            {
              "name": "siteSlug",
              "value": "={{$json.siteSlug || $env.SITE_SLUG || ''}}",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "seedTopics",
      "name": "Seed Topics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        260
      ],
      "parameters": {
        "language": "JavaScript",
        "jsCode": "const seeds = ['entryway organization','weekly kitchen reset','spring patio cleanup checklist','small garden bed layout'];\nreturn seeds.map((query, i) => ({ json: { ...$json, seedIndex: i, query } }));"
      }
    },
    {
      "id": "expandKeywords",
      "name": "Expand Keywords (LLM/Search)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        920,
        260
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OPENAI_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\": \"{{$env.TEXT_MODEL_DRAFT || 'gpt-4.1-mini'}}\", \"input\": [{\"role\":\"system\",\"content\":\"Return JSON with keyword suggestions, evergreen score, and risk score for Home & DIY informational topics. Exclude YMYL and hazardous tasks.\"},{\"role\":\"user\",\"content\":\"Topic seed: {{$json.query}}\"}]}"
      }
    },
    {
      "id": "normalizeCandidates",
      "name": "Normalize + Dedup + Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        260
      ],
      "parameters": {
        "language": "JavaScript",
        "jsCode": "// TODO: parse provider response and normalize to topicCandidate payloads\n// Emit queued candidates with targetKeyword, supportingKeywords, evergreenScore, riskScore, templateType\nreturn items;"
      }
    },
    {
      "id": "writeSanity",
      "name": "Upsert topicCandidate in Sanity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1410,
        260
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://{{$('Resolve Site Context').item.json.sanity.projectId}}.api.sanity.io/v{{$('Resolve Site Context').item.json.sanity.apiVersion || '2025-01-01'}}/data/mutate/{{$('Resolve Site Context').item.json.sanity.dataset || 'production'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$('Resolve Site Context').item.json.sanity.writeToken}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"mutations\": [{\"createOrReplace\": {\"_type\": \"topicCandidate\", \"_id\": $json._id || `topic-${Date.now()}-${Math.random()}` , ...$json}}]}"
      }
    },
    {
      "id": "executeWorkflowTrigger",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        220,
        80
      ],
      "parameters": {}
    },
    {
      "id": "webhookRefill",
      "name": "Webhook Refill Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        150
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "topic-discovery-refill",
        "authentication": "none",
        "responseMode": "onReceived",
        "options": {},
        "multipleMethods": false
      }
    },
    {
      "id": "resolve_site_context",
      "name": "Resolve Site Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        260
      ],
      "parameters": {
        "jsCode": "const incoming = (typeof $json === 'object' && $json) ? $json : {};\nconst body = incoming.body && typeof incoming.body === 'object' ? incoming.body : {};\nconst payload = incoming.payload && typeof incoming.payload === 'object' ? incoming.payload : {};\nconst siteSlug = String(\n  incoming.siteSlug ||\n  incoming.site_slug ||\n  body.siteSlug ||\n  payload.siteSlug ||\n  $env.SITE_SLUG ||\n  ''\n).trim().toLowerCase();\nif (!siteSlug) {\n  throw new Error('Missing siteSlug for Resolve Site Context');\n}\n\nconst baseUrl = String($env.CONTENT_ENGINE_URL || '').replace(/\\/$/, '');\nif (!baseUrl) {\n  throw new Error('Missing CONTENT_ENGINE_URL env var');\n}\n\nconst internalToken = String($env.INTERNAL_API_TOKEN || '').trim();\nif (!internalToken) {\n  throw new Error('Missing INTERNAL_API_TOKEN env var');\n}\n\nconst nf = (typeof fetch === 'function') ? null : require('node-fetch');\nconst fetchFn = (typeof fetch === 'function') ? fetch : (nf.default || nf);\nconst url = baseUrl + '/api/internal/sites/' + encodeURIComponent(siteSlug) + '/sanity-connection';\n\nconst response = await fetchFn(url, {\n  method: 'GET',\n  headers: {\n    'x-internal-token': internalToken,\n  },\n});\n\nconst raw = await response.text();\nlet parsed = {};\ntry {\n  parsed = raw ? JSON.parse(raw) : {};\n} catch (error) {\n  throw new Error('Invalid sanity-connection response for ' + siteSlug + ': ' + raw.slice(0, 220));\n}\n\nif (!response.ok || !parsed.ok || !parsed.sanity) {\n  throw new Error('Cannot resolve site Sanity connection for ' + siteSlug + ': ' + (parsed.error || raw || response.status));\n}\n\nconst sanity = parsed.sanity || {};\nif (!sanity.projectId || !sanity.readToken || !sanity.writeToken) {\n  throw new Error('Incomplete site Sanity connection for ' + siteSlug);\n}\n\nreturn {\n  json: {\n    ...incoming,\n    siteSlug: parsed.siteSlug || siteSlug,\n    sanity,\n  }\n};"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Resolve Site Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Runtime Context": {
      "main": [
        [
          {
            "node": "Seed Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seed Topics": {
      "main": [
        [
          {
            "node": "Expand Keywords (LLM/Search)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Keywords (LLM/Search)": {
      "main": [
        [
          {
            "node": "Normalize + Dedup + Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize + Dedup + Score": {
      "main": [
        [
          {
            "node": "Upsert topicCandidate in Sanity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Resolve Site Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Refill Trigger": {
      "main": [
        [
          {
            "node": "Resolve Site Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Site Context": {
      "main": [
        [
          {
            "node": "Set Runtime Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "template": true,
    "pipelineStage": "topic_discovery"
  }
}
